.vera-dni-ruc-checkout {
    margin-bottom: 20px;

    .vera-receipt-type-options {
        display: flex;
        gap: 28px;
        flex-wrap: wrap;
    }

    .choice {
        display: inline-flex;
        align-items: center;
        gap: 8px;
    }

    .document-type .control {
        padding-top: 8px;
    }
}
