<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vera_dni_ruc_checkout>
            <general>
                <enabled>1</enabled>
                <dni_required>1</dni_required>
            </general>
        </vera_dni_ruc_checkout>
    </default>
</config>
